In [1]:
import pandas as pd

data = pd.read_csv('fresh_frame.csv')
data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats,max_torque_rpm
0,Maruti,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248,74.00,5,2000.0
1,Skoda,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498,103.52,5,2500.0
2,Hyundai,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396,90.00,5,2750.0
3,Maruti,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298,88.20,5,3000.0
4,Hyundai,2017,440000,45000,Petrol,Individual,Manual,First Owner,20.14,1197,81.86,5,3000.0

In [20]:
type(item['year'])

int

In [38]:
data.iloc[0:5,:].to_dict('records')

[{'name': 'Maruti',
  'year': 2014,
  'selling_price': 450000,
  'km_driven': 145500,
  'fuel': 'Diesel',
  'seller_type': 'Individual',
  'transmission': 'Manual',
  'owner': 'First Owner',
  'mileage': 23.4,
  'engine': 1248,
  'max_power': 74.0,
  'seats': 5,
  'max_torque_rpm': 2000.0},
 {'name': 'Skoda',
  'year': 2014,
  'selling_price': 370000,
  'km_driven': 120000,
  'fuel': 'Diesel',
  'seller_type': 'Individual',
  'transmission': 'Manual',
  'owner': 'Second Owner',
  'mileage': 21.14,
  'engine': 1498,
  'max_power': 103.52,
  'seats': 5,
  'max_torque_rpm': 2500.0},
 {'name': 'Hyundai',
  'year': 2010,
  'selling_price': 225000,
  'km_driven': 127000,
  'fuel': 'Diesel',
  'seller_type': 'Individual',
  'transmission': 'Manual',
  'owner': 'First Owner',
  'mileage': 23.0,
  'engine': 1396,
  'max_power': 90.0,
  'seats': 5,
  'max_torque_rpm': 2750.0},
 {'name': 'Maruti',
  'year': 2007,
  'selling_price': 130000,
  'km_driven': 120000,
  'fuel': 'Petrol',
  'seller_type': 'Individual',
  'transmission': 'Manual',
  'owner': 'First Owner',
  'mileage': 16.1,
  'engine': 1298,
  'max_power': 88.2,
  'seats': 5,
  'max_torque_rpm': 3000.0},
 {'name': 'Hyundai',
  'year': 2017,
  'selling_price': 440000,
  'km_driven': 45000,
  'fuel': 'Petrol',
  'seller_type': 'Individual',
  'transmission': 'Manual',
  'owner': 'First Owner',
  'mileage': 20.14,
  'engine': 1197,
  'max_power': 81.86,
  'seats': 5,
  'max_torque_rpm': 3000.0}]

In [49]:
pd.DataFrame(data.iloc[0:5,:].to_dict('records'))

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats,max_torque_rpm
0,Maruti,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248,74.00,5,2000.0
1,Skoda,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498,103.52,5,2500.0
2,Hyundai,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396,90.00,5,2750.0
3,Maruti,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298,88.20,5,3000.0
4,Hyundai,2017,440000,45000,Petrol,Individual,Manual,First Owner,20.14,1197,81.86,5,3000.0

In [2]:
item=data.iloc[0,:].to_dict()
item

{'name': 'Maruti',
 'year': 2014,
 'selling_price': 450000,
 'km_driven': 145500,
 'fuel': 'Diesel',
 'seller_type': 'Individual',
 'transmission': 'Manual',
 'owner': 'First Owner',
 'mileage': 23.4,
 'engine': 1248,
 'max_power': 74.0,
 'seats': 5,
 'max_torque_rpm': 2000.0}

In [10]:
import requests

url = "http://127.0.0.1:8000/predict_item"

response = requests.post(url, json=item)

In [11]:
response.text

'414439.1304371357'

In [55]:
item

{'name': 'Maruti',
 'year': 2014,
 'selling_price': 450000,
 'km_driven': 145500,
 'fuel': 'Diesel',
 'seller_type': 'Individual',
 'transmission': 'Manual',
 'owner': 'First Owner',
 'mileage': 23.4,
 'engine': 1248,
 'max_power': 74.0,
 'seats': 5,
 'max_torque_rpm': 2000.0}

In [9]:
items=data.iloc[0:5,:].to_dict('records')
items

[{'name': 'Maruti',
  'year': 2014,
  'selling_price': 450000,
  'km_driven': 145500,
  'fuel': 'Diesel',
  'seller_type': 'Individual',
  'transmission': 'Manual',
  'owner': 'First Owner',
  'mileage': 23.4,
  'engine': 1248,
  'max_power': 74.0,
  'seats': 5,
  'max_torque_rpm': 2000.0},
 {'name': 'Skoda',
  'year': 2014,
  'selling_price': 370000,
  'km_driven': 120000,
  'fuel': 'Diesel',
  'seller_type': 'Individual',
  'transmission': 'Manual',
  'owner': 'Second Owner',
  'mileage': 21.14,
  'engine': 1498,
  'max_power': 103.52,
  'seats': 5,
  'max_torque_rpm': 2500.0},
 {'name': 'Hyundai',
  'year': 2010,
  'selling_price': 225000,
  'km_driven': 127000,
  'fuel': 'Diesel',
  'seller_type': 'Individual',
  'transmission': 'Manual',
  'owner': 'First Owner',
  'mileage': 23.0,
  'engine': 1396,
  'max_power': 90.0,
  'seats': 5,
  'max_torque_rpm': 2750.0},
 {'name': 'Maruti',
  'year': 2007,
  'selling_price': 130000,
  'km_driven': 120000,
  'fuel': 'Petrol',
  'seller_type': 'Individual',
  'transmission': 'Manual',
  'owner': 'First Owner',
  'mileage': 16.1,
  'engine': 1298,
  'max_power': 88.2,
  'seats': 5,
  'max_torque_rpm': 3000.0},
 {'name': 'Hyundai',
  'year': 2017,
  'selling_price': 440000,
  'km_driven': 45000,
  'fuel': 'Petrol',
  'seller_type': 'Individual',
  'transmission': 'Manual',
  'owner': 'First Owner',
  'mileage': 20.14,
  'engine': 1197,
  'max_power': 81.86,
  'seats': 5,
  'max_torque_rpm': 3000.0}]

In [15]:
import requests

url = "http://127.0.0.1:8000/predict_items"

response = requests.post(url, json=items)

In [16]:
response.text

'[414439.1304371357,680389.8889139444,418811.0865758881,259356.86915981025,607942.4913843423]'

In [23]:
import json
json.loads(response.text)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [7]:
item

'{"Unnamed: 0":0,"name":"Maruti","year":2014,"selling_price":450000,"km_driven":145500,"fuel":"Diesel","seller_type":"Individual","transmission":"Manual","owner":"First Owner","mileage":23.4,"engine":1248,"max_power":74.0,"seats":5,"max_torque_rpm":2000.0}'

In [2]:
item = {
    "name": "Foo",
    "description": "An optional description",
    "price": 45.2,
    "tax": 3.5
}

In [10]:
import requests
import json
url = "http://127.0.0.1:8000/items"

response = requests.post(url, json=item)

In [15]:
json.loads(response.text)['tax']

3.5